.bg-negro{
    background-color: black;
    color:whitesmoke;
}

.imagen-mediana {
    width: 100px;
    height: auto;
}

#pollito {
    border-radius: 150px;
    width: 200px;
    height: 200px;
    border: red 10px double;
    margin: 50px 50px;
    /* margin-top: 200px; */
    padding: 50px;
}